@import url(../fonts/stylesheet.css);
@import url(./input/input.css);
@import url(./cards/cards.css);
@import url(./card/card.css);

body {
    font-family: Proxima Nova Rg, sans-serif;
}

.main {
    margin: 0 auto;
    max-width: 1120px;
    width: 1120px;
}

.wrapper {
    padding-top: 36px;
}
