<main class="main">
    <div class="wrapper">
        <form class="position-relative" name="searchForm">
            <input class="input searchInput" id="searchInput" name="searchInput">
            <img class="input__svg" src="/public/img/search.svg" alt="Поиск">
        </form>
        <div class="cards">
         </div>
    </div>
</main>