<main class="main">
    <div class="wrapper">
        <form class="position-relative" name="searchForm">
            <input class="input searchInput" id="searchInput" name="searchInput">
            <img class="input__svg" src="/public/img/search.svg" alt="Поиск">
        </form>
        <div class="cards">
            <div class="card">
                <h6 class="card__title">Евгения Савченко</h6>
                <div class="d-flex align-items-center">
                    <img src="/public/img/phone.svg">
                    <p class="card__property">
                        +7 (918) 078-17-05
                    </p>
                </div>
                <div class="d-flex align-items-center">
                    <img src="/public/img/email.svg">
                    <p class="card__property">
                        yysavchenk@mail.ru
                    </p>
                </div>
            </div>
            <div class="card">
                <h6 class="card__title">Евгения Савченко</h6>
                <div class="d-flex align-items-center">
                    <img src="/public/img/phone.svg">
                    <p class="card__property">
                        +7 (918) 078-17-05
                    </p>
                </div>
                <div class="d-flex align-items-center">
                    <img src="/public/img/email.svg">
                    <p class="card__property">
                        yysavchenk@mail.ru
                    </p>
                </div>
            </div>
            <div class="card">
                <h6 class="card__title">Евгения Савченко</h6>
                <div class="d-flex align-items-center">
                    <img src="/public/img/phone.svg">
                    <p class="card__property">
                        +7 (918) 078-17-05
                    </p>
                </div>
                <div class="d-flex align-items-center">
                    <img src="/public/img/email.svg">
                    <p class="card__property">
                        yysavchenk@mail.ru
                    </p>
                </div>
            </div>
            <div class="card">
                <h6 class="card__title">Евгения Савченко</h6>
                <div class="d-flex align-items-center">
                    <img src="/public/img/phone.svg">
                    <p class="card__property">
                        +7 (918) 078-17-05
                    </p>
                </div>
                <div class="d-flex align-items-center">
                    <img src="/public/img/email.svg">
                    <p class="card__property">
                        yysavchenk@mail.ru
                    </p>
                </div>
            </div>
            <div class="card">
                <h6 class="card__title">Евгения Савченко</h6>
                <div class="d-flex align-items-center">
                    <img src="/public/img/phone.svg">
                    <p class="card__property">
                        +7 (918) 078-17-05
                    </p>
                </div>
                <div class="d-flex align-items-center">
                    <img src="/public/img/email.svg">
                    <p class="card__property">
                        yysavchenk@mail.ru
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>